#text{
    margin-bottom: 2rem;
}

#selection{
    margin-bottom: 2rem;
}

#submit{
    margin-bottom: 1rem;
}

#output-headline{
    margin-bottom: 1rem;
    margin-top: 1rem;
}


#output{
    margin-bottom: 1rem;
}