<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

    <script>
        $(document).ready(function () {
            $(".se-pre-con").fadeOut("slow");

        });
    </script>

    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">

</head>
<body>
<div class="se-pre-con"></div>


<nav>
    <div class="container">
        <div><a href="/">Named Entity Recognition</a> | <a href="/buzzword">Buzzword Analyser</a> | <a href="/about">About</a>
        </div>
    </div>
</nav>


<div class="container">

    <br>
    <br>
    <h1>About</h1>
    <br>
    <br>
    <p>This webservice was developed by Dennis Demmer with the Java Webframework Spring Boot. <br>For the named entity
        recognition the Python API SpaCy (version 2.0.18) was used.<br>
        It's running on a Raspberry Pi 3 B+ with Raspian Stretch Lite OS installed.</p>

    <br>
    <br>
    <br>
    <div class="container" style="color:white; background-color: lightslategrey">
        <br>
        <br>
        <h4>Links</h4>
        <br>
        <br>
        <div>Favicon - <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>. Licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a></div>
        <a href="https://smallenvelop.com/display-loading-icon-page-loads-completely/">Smallenvelope - Loading GIF</a>
        <br>
        <br>
        <br>
        <a href="https://twitter.com/DemmerDennis?lang=de">Twitter - @DemmerDennis</a><br>
        <a href="https://github.com/DDemmer1">GitHub - DDemmer1</a>
        <br>
        <br>
    </div>


</div>


<footer><a href="https://github.com/DDemmer1">© Dennis Demmer 2019</a></footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>