<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="../elements/header.html"></div>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/about.css">
</head>
<body>
<div class="se-pre-con"></div>
<nav th:replace="../elements/nav.html"></nav>
<div class="container">
    <h1>About</h1>
    <p>This webservice was developed by Dennis Demmer with the Java Webframework Spring Boot. <br>For the named entity
        recognition the Python API SpaCy (version 2.0.18) was used.<br>
        It's running on a Raspberry Pi 3 B+ with Raspian Stretch Lite OS installed.<br>
        You can download and use the source code for this web application from <a
                href="https://github.com/DDemmer1/NamedEntityRecognitionWebservice">github.com/DDemmer1/NamedEntityRecognitionWebservice</a>
    </p>

    <h2 id="rest-h2">REST API</h2>
    <p>This web application also includes a REST API.<br>
        You can use it for free. But since the service is running on a Raspberry Pi don't expect any spectacular
        performance.<br>
        <br>
        Example:<br>
        <a href="http://dennis-demmer.de/api?text=This+is+a+test+by+Dennis+Demmer+from+Cologne%2C+Germany.&format=json&language=en">http://dennis-demmer.de/api?text=This+is+a+test+by+Dennis+Demmer+from+Cologne%2C+Germany.&format=json&language=en</a><br>
        <br>
        Acceptable parameter inputs are:<br>
        - language = de, fr, en<br>
        - format = json, xml<br>
    </p>

    <div class="container" id="links">
        <h4>Links</h4>
        <div>Favicon - <a class="white" href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>.
            Licensed by <a class="white"
                           href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                           target="_blank">CC
                3.0 BY</a>
        </div>
        <a class="white" href="https://smallenvelop.com/display-loading-icon-page-loads-completely/">Smallenvelope -
            Loading GIF</a>
        <div id="social">
            <a class="white" href="https://twitter.com/DemmerDennis?lang=de">Twitter - @DemmerDennis</a><br>
            <a class="white" href="https://github.com/DDemmer1/NamedEntityRecognitionWebservice">GitHub -
                DDemmer1/NamedEntityRecognitionWebservice</a>
        </div>
    </div>


</div>

<div th:replace="../elements/footer.html"></div>

</body>
</html>