<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="../elements/header.html"></div>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/buzzword.css">
</head>
<body>
<div class="se-pre-con"></div>
<nav th:replace="../elements/nav.html"></nav>

<div class="container">
    <h1>Buzzword Analyser</h1>

    <form id="form" action="/buzzword/text">
        <h2>Input:</h2>
        <textarea name="text" id="text" th:text="${text}"></textarea>
        <div id="selection" class="row">
            <div class="col-3">
                <label for="language">Language:</label>
                <select class="form-control" id="language" name="language">
                    <option name="language" id="de" value="de" th:selected="${deSel}">German</option>
                    <option name="language" id="en" value="en" th:selected="${enSel}">English</option>
                    <option name="language" id="fr" value="fr" th:selected="${frSel}">French</option>
                </select>
            </div>
            <div class="col-3">
                <label for="number">Number of Buzzwords:</label>
                <select class="form-control" id="number" name="number">
                    <option name="number" id="five" value="five" th:selected="${five}">5</option>
                    <option name="number" id="ten" value="ten" th:selected="${ten}">10</option>
                    <option name="number" id="all" value="all" th:selected="${all}">All</option>
                </select>
            </div>
        </div>
        <button class="btn btn-secondary" id="submit" type="submit">Submit</button>
        <hr>
        <h2 id="output-headline">Buzzwords:</h2>
        <pre th:text="${output}" id="output"></pre>
    </form>
</div>

<div th:replace="../elements/footer.html"></div>

</body>
</html>